@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Backgrounds */
    --bg-regular: 0 0% 100%;
    --bg-screen: var(--slate1);
    --bg-subtle: var(--slate2);
    --bg-element: var(--slate3);
    --bg-hover: var(--slate4);
    --bg-selected: var(--slate5);
    --bg-overlay: var(--expo-color-white);
    --bg-success: var(--green3);
    --bg-warning: var(--yellow3);
    --bg-danger: var(--red3);
    --bg-info: var(--blue3);

    /* Text */
    --text-regular: 165, 1.8% 44.7%;
    --text-secondary: 220 5.9% 40%;
    --text-tertiary: 226.2 5.4% 52.7%;
    --text-muted: 230.8 5.9% 57.1%;
    --text-link: 211.3 100% 50%;
    --text-success: 135.1 58.6% 49.2%;
    --text-warning: 48 100% 50%;
    --text-danger: 3.2 100% 59.4%;
    --text-info: 199 78.3% 54.9%;

    /* Buttons  */
    --btn-secondary-bg: 0 0% 100%;
    --btn-secondary-border: 205 10.7% 78%;
    --btn-secondary-hover: 210 16.7% 95.3%;
    --btn-secondary-icon: 205.7 6.3% 43.5%;
    --btn-secondary-disabled-bg: 0 0% 100%;
    --btn-secondary-disabled-border: 205.7 12.3% 88.8%;
    --btn-secondary-disabled-text: 205.7 6.3% 56.1%;

    /* Light shadows */
    --shadows-none: 0 0 transparent;
    --shadows-xs: 0 1px 3px rgba(0, 0, 0, 0.025), 0 1px 2px rgba(0, 0, 0, 0.05);
    --shadows-sm: 0 3px 6px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.07);
    --shadows-md: 0 10px 20px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
    --shadows-lg: 0 15px 25px rgba(0, 0, 0, 0.12),
      0 5px 10px rgba(0, 0, 0, 0.05);
    --shadows-xl: 0 20px 40px rgba(0, 0, 0, 0.15);
  }
  .dark {
    /* Backgrounds */
    --bg-regular: 0 0% 10.6%;
    --bg-screen: #fcfcfd;
    --bg-subtle: var(--slate2);
    --bg-element: var(--slate3);
    --bg-hover: var(--slate4);
    --bg-selected: var(--slate5);
    --bg-overlay: 0 0% 100%;
    --bg-success: var(--green3);
    --bg-warning: var(--yellow3);
    --bg-danger: var(--red3);
    --bg-info: var(--blue3);

    /* Text */
    --text-regular: 0 0% 100%;
    --text-secondary: 216 6.8% 71%;
    --text-tertiary: 221.5 5.2% 49.2%;
    --text-muted: 218.6 6.3% 43.9%;
    --text-link: 210.1 100% 52%;
    --text-success: 134.9 63.6% 50.4%;
    --text-warning: 50 100% 52%;
    --text-danger: 3.4 100% 61.4%;
    --text-info: 197.4 100% 69.6%;

    /* Borders */
    --border-regular: 212.7 7.6% 28.4%;
    --border-secondary: 213.3 7.7% 22.9%;
    --border-success: var(--green7);
    --border-warning: var(--yellow7);
    --border-danger: var(--red7);
    --border-info: var(--blue7);

    /* Buttons  */
    --btn-secondary-bg: 192 7.2% 13.5%;
    --btn-secondary-border: 206.7 5.6% 31.6%;
    --btn-secondary-hover: 210 7.1% 16.5%;
    --btn-secondary-icon: 220 9.1% 93.5%;
    --btn-secondary-disabled-bg: var(--slate1);
    --btn-secondary-disabled-border: var(--slate7);
    --btn-secondary-disabled-text: var(--slate11);

    /* Dark shadows */
    --shadows-none: 0 0 transparent;
    --shadows-xs: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
    --shadows-sm: 0 3px 6px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.25);
    --shadows-md: 0 10px 20px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.25);
    --shadows-lg: 0 15px 25px rgba(0, 0, 0, 0.5), 0 5px 10px rgba(0, 0, 0, 0.25);
    --shadows-xl: 0 20px 40px rgba(0, 0, 0, 0.5);
  }
}
